In [2]:
import pandas as pd

In [3]:
#"C:\Users\User\Desktop\IronHack\Week_2\Day1/GSAF5.xls")
shark_df = pd.read_excel('GSAF5.xls')
shark_df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-06-17 00:00:00,2025.0,Unprovoked,USA,South Carolina,Hilton Head Island,Swimming,Not stated,F,12,...,Not stated,Kevin McMurray Trackingsharks.com:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-06-11 00:00:00,2025.0,Unprovoked,USA,Florida,Boca Grande,Snorkeling,Leah Lendel,F,9,...,Bull shark,Kevin McMurray Trackingsharks.com: James Kings...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-05-29 00:00:00,2025.0,Unprovoked,USA,North Carolina,Sunset Beach,Swimming,Sean Barton,M,26,...,Not stated,Kevin McMurray Trackingsharks.com: Clay Crewel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-26 00:00:00,2025.0,Unprovoked,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Tumas,M,14,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-05-15 00:00:00,2025.0,Unprovoked,Australia,South Australia,Port Noarlunga,Swimming,Richard Vinall,M,66,...,Not stated,Simon DeMarchi: Todd Smith: 9 News:ABC News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
shark_df = shark_df.rename(columns={ col: col.replace(" ","").lower() for col in shark_df.columns })

In [170]:
shark_df.head(50)

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,hrefformula,href,casenumber,casenumber.1,originalorder,unnamed:21,unnamed:22
0,2025-06-17 00:00:00,2025.0,Unprovoked,USA,South Carolina,Hilton Head Island,Swimming,Not stated,F,12,...,Not stated,Kevin McMurray Trackingsharks.com:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-06-11 00:00:00,2025.0,Unprovoked,USA,Florida,Boca Grande,Snorkeling,Leah Lendel,F,9,...,Bull shark,Kevin McMurray Trackingsharks.com: James Kings...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-05-29 00:00:00,2025.0,Unprovoked,USA,North Carolina,Sunset Beach,Swimming,Sean Barton,M,26,...,Not stated,Kevin McMurray Trackingsharks.com: Clay Crewel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-26 00:00:00,2025.0,Unprovoked,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Tumas,M,14,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-05-15 00:00:00,2025.0,Unprovoked,Australia,South Australia,Port Noarlunga,Swimming,Richard Vinall,M,66,...,Not stated,Simon DeMarchi: Todd Smith: 9 News:ABC News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2025-05-08 00:00:00,2025.0,Unprovoked,Jamaica,Montego Bay,Rose Hall beach,Paddling,Rachel Smith,F,26,...,Small shark 1m (3ft) long,The sun News: Metro: Kevin McMurray Tracking s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2025-04-21 00:00:00,2025.0,Unprovoked,Israel,Hadera,Olga Beach near Hadera Stream,Diving,Barak Tzach,M,45,...,Dusky sharks,Ynetnews.com: Dailymirroe.co.uk: Todd Smith Al...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2025-04-20 00:00:00,2025.0,Questionable,Mexico,Quntana Roo,Chac Mool Beach Cancun,Rescuing female companion,Alejandro Cortes,M,20,...,Not Staed,"Mundo Now: Reutir"" Kevin McMurray Trackingshar...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2025-04-19 00:00:00,2025.0,unprovoked,Maldives,Kulhudhuffushi City,Haa Dhaalu atoll,snorkeling,Unknown Male,M,30,...,Not stated,Todd Smith: The edition: https://en.sun.mv/96031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2025-04-12 00:00:00,2025.0,Unprovoked,USA,Florida,Everglades National Park Flamingo Lodge Highwa...,Undisclosed,Unknown Male,M,?,...,Not stated,Kevin McMurray Trackingsharks.com: Florida New...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Unknown Male,M,30+,...,1.5m Tiger shark,Kevin McMurray Trackingsharks.com: www.surfer....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,Great White Shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2025-03-07 00:00:00,2025.0,Unprovoked,Australia,NSW,Gunyah beach Bundeena Port Hacking,Swimming,Mangyong Zhang,F,56,...,Bull shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2025-02-27 00:00:00,2025.0,Unprovoked,Australia,Victoria,Nuns Beach near Portland,Swimming,Robbie Houlihan,M,40+,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,27-Feb-25,2025.0,Questionable,Philippines,Batangas Resort,Verde Island,SCUBA Diving,Illia Peregudin,M,29,...,Not stated,Stephen Parkhill Glen Folkard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2025-02-22 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Blasck Wall Reach Swan River Perth,Kayaking,Georgina Smith,F,35,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2025-02-22 00:00:00,2025.0,Questionable,Australia,NSW,Off Port Stephens near Newcastle,Fishing was pulled of boat by shark,Paul Barning,M,58,...,Mako shark,Simon De Marchi: Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2025-02-22 00:00:00,2025.0,Unprovoked,Australia,Queensland,The Wrecks walking track Moreton Island,Snorkeling,Unknown Male,M,29,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2025-02-10 00:00:00,2025.0,Unprovoked,Bahamas,NaN,Bimini Bay,Swimming,Summer Layman,F,24,...,bull shark,Dail Mail Australia Todd Smith: Kevin McMurray...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2025-02-10 00:00:00,2025.0,Unprovoked,Bahamas,NaN,Bimini Bay,Swimming,Rileigh Decker,F,20,...,bull shark,Dail Mail Australia Todd Smith: Kevin McMurray...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2025-02-07 00:00:00,2025.0,Unprovoked,Turks and Caicos,Near five Cays settlement West Caicos,Thompson Cove Beach,Swimming,Canadian tourist,F,55,...,1.8m (6ft) bull shark,Todd Smith: Platform X Kevin McMurray Trackin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2025-02-03 00:00:00,2025.0,Unprovoked,Australia,Queensland,"Woorim Beach, Bribie Island,",Swimming,Charlize Zmuda,F,17,...,Bull shark,9 News: The Brisbane Times: The Guardian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2025-01-23 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2025-01-22 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Cheynes beach,Surfing,Dale Kittow,M,37,...,Bronze whaler,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2025-01-03 00:00:00,2025.0,Unprovoked,Mozambique,Inhambane Province,Vilankulo Bay,Spearfishing,Albert Vilanculo,M,36,...,Described as a large terrifying animal,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2025-01-11 00:00:00,2025.0,Provoked,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2024-12-30 00:00:00,2024.0,Unprovoked,Mozambique,?,?,Diving,Unknown Male,M,?,...,Unknown,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Gianluca Di Gioia,M,48,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2024-12-28 00:00:00,2024.0,Unprovoked,Australia,Queensland,Humpy Island Great Keppel Island,Spearfishing,Luke Walford,M,40,...,Unknown,Todd Smith Glen Folkard ABC News: The North We...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2024-12-02 00:00:00,2024.0,Unprovoked,Australia,Queensland,Curtis Island Near Gladstone QLD central coast,Spearfishing,Not stated,M,60+,...,Not stated,Glen Folkard GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2024-12-01 00:00:00,2024.0,Unprovoked,Australia,Western Australia,Greenough River Mouth Beach Cape Burney 12km s...,Surfing,James Sweetman (child),M,?,...,1m shark species unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2024-11-30 00:00:00,2024.0,Unprovoked,Thailand,Phang Nga Province,Khao Lak Beach,Swimming,Elke Maier,F,57,...,Unknown,Kevin McMurray Tracking Sharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2024-11-19 00:00:00,2024.0,Unprovoked,New Zealand,Bay of Waitangi,Chatham Islands,Diving,Jade Kahukore-Dixon,M,24,...,Great White Shark,Glen Folkhard: Todd Smith: Andy Currie Kevin M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2024-11-15 00:00:00,2024.0,Unprovoked,Maldives,Kaafu,Maafushi,Diving,Not stated,F,45,...,Not stated,the edition: Kevin McMurray Tracking sharks.co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2024-11-01 00:00:00,2024.0,Unprovoked,Hawaii,Maui,Sand Piles Waiehu Beach Park,Surfing,Kenji,M,61,...,Not stated,Glen Folkard: Independent: Fox News: Sky News ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2024-10-31 00:00:00,2024.0,Unprovoked,Australia,Queensland,Whitsunday Islands,Snorkeling,Not stated,F,57,...,Reported as a large Tiger shark,Simon de Marchi: 9 News: 7 News: ABC News:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2024-10-25 00:00:00,2024.0,Unprovoked,USA,Florida,"Bathtub Beach, Martin County",Surfing,Cole Taschman,M,27,...,Bull or tiger 7-8ft,Bob Myatt: Yardbarker: 12 on your side: WPTV: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2024-10-14 00:00:00,2024.0,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,...,Bull shark,Georgienne Bradley: Daily Mail UK: FTN News.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2024-10-11 00:00:00,2024.0,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,...,Bull shark 6ft,Todd SmithFlorida today: News 4:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2024-09-26 00:00:00,2024.0,Questionable,Indonesia,Timor Leste,Pulau Reong Island,Disappeared whilst diving remains found in shark,Collen Monfore,F,68,...,Large Tiger shark,New York Post: ESPN: Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2024-09-17 00:00:00,2024.0,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,...,Bull shark 6-7ft,Daily Mail UK: The Sun UK: The World Watch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2024-09-16 00:00:00,2024.0,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,Elena Knorr,F,30,...,Reportedly a Great White,Andy Currie: Moroccan World News: Sky News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2024-08-26 00:00:00,2024.0,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,Reportedly Tiger Shark,Todd Smith: Daily Mail UK: Sky News: People .com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2024-08-06 00:00:00,2024.0,Unprovoked,Belize,Gulf of Honduras,Central America,Swimming - Diving,Annabelle Carlson,F,15,...,Reef shark 6ft (1.8m),Kevin McMurray Tracking Sharks.com New York Po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2024-07-23 00:00:00,2024.0,Unprovoked,Australia,NSW,"North Shore Beach, Port Macquarie",Surfing,Kai McKenzie,M,23,...,3m White Shark,Nine.com.au: ABC.Net.Au Johannes Marchand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2024-07-18 00:00:00,2024.0,Unprovoked,Australia,Western Australia,Trigg beach Sterling,Surfing,Ryan Lowther,M,41,...,Undetermined small shall shark,Daily Mail: Sky News: The West Australian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2024-07-08 00:00:00,2024.0,Unprovoked,USA,Florida,Ponce de Leon Inlet Volusia County,Diving into Water,Dempsey Manhart,M,14,...,4-5ft Blacktip shark,Miami Herald,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
shark_df_2 = shark_df[[ "date", "year","country", "state", "location", "activity", "injury","age","species"]]
# Species appers as not an index.

In [128]:
shark_df_2.head()

,date,year,country,state,location,activity,injury,age,species
0,2025-06-17 00:00:00,2025.0,USA,South Carolina,Hilton Head Island,Swimming,Laceration to lower right leg,12,Not stated
1,2025-06-11 00:00:00,2025.0,USA,Florida,Boca Grande,Snorkeling,Right hand almost torn off,9,Bull shark
2,2025-05-29 00:00:00,2025.0,USA,North Carolina,Sunset Beach,Swimming,Gash to lower left leg,26,Not stated
3,2025-05-26 00:00:00,2025.0,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Multiple injuries to body one hand and leg bit...,14,Not stated
4,2025-05-15 00:00:00,2025.0,Australia,South Australia,Port Noarlunga,Swimming,Injury to thigh,66,Not stated

In [129]:
shark_df_2.shape

(7020, 9)

In [130]:
# Clean & format everything but dates.
# Apply at least five data cleaning techniques, such as handling null values, dropping columns, 
# removing duplicated data, manipulating strings, formatting the data, etc., to prepare the dataset for analysis.

In [131]:
# To check for null values
shark_df_2.isna().any()

date        False
year         True
country      True
state        True
location     True
activity     True
injury       True
age          True
species      True
dtype: bool

In [132]:
shark_df_2.dtypes

date         object
year        float64
country      object
state        object
location     object
activity     object
injury       object
age          object
species      object
dtype: object

In [133]:
# Count the number of null values in each column
shark_df_2.isna().sum()

date           0
year           2
country       50
state        485
location     566
activity     585
injury        35
age         2994
species     3131
dtype: int64

In [134]:
shark_df_2[shark_df_2["country"].isna()].head()
# This missiang values we can drop (delete)

,date,year,country,state,location,activity,injury,age,species
746,Reported 13-Nov-2017,2017.0,NaN,NaN,NaN,Surfing,Puncture wounds to feet,24,NaN
1215,Aug-2014,2014.0,NaN,NaN,NaN,Sea disaster,Shark involvement prior to death not confirmed,NaN,Shark involvement not confirmed
3651,Ca. 1983,1983.0,NaN,English Channel,NaN,Swimming,Left leg bitten,NaN,NaN
4081,Nov-1970,1970.0,NaN,NaN,NaN,NaN,Extensive injuries,NaN,NaN
4090,02-Aug-1970,1970.0,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,"Sharks scavenged on bodies, but no record of t...",NaN,Shark involvement prior to death was not confi...

In [135]:
shark_df_2[shark_df_2["injury"].isna()].head()
# This we can attribute NaN as a generic injury. If have an attack probably have an injury.

,date,year,country,state,location,activity,injury,age,species
174,16-Mar-2023,2023.0,AUSTRALIA,Western Australia,Cheynes Beach,Surf-sking,NaN,NaN,5m to 6m shark
247,21-Jun-2022,2022.0,USA,South Carolina,"Myrtle Beach, Horry County",NaN,NaN,teen,NaN
268,15-Mar-2022,2022.0,AUSTRALIA,New South Wales,Crowdy Baay,Swimming,NaN,NaN,NaN
371,26-Mar-2021,2021.0,FRENCH POLYNESIA,Marquesas,Ua Pou,Swimming,NaN,10,NaN
460,20-Jun-2020,2020.0,BAHAMAS,Exumas,"Pig Beach, Pig Island",NaN,NaN,NaN,NaN

In [136]:
shark_df_2[shark_df_2["age"].isna()]
# We can try to use mean to replace the values

,date,year,country,state,location,activity,injury,age,species
72,04 Mar 2024,2024.0,USA,Hawaii,"Old Man's, Waikiki",Surfing,"No injury, shark bit surfboard",NaN,Tiger shark 8'
76,04-Feb-2024,2024.0,TRINIDAD,NaN,NaN,Spearfishing,Shoulder bitten,NaN,Blacktip reef shark
96,03 Nov-2023,2023.0,AUSTRALIA,Westerm Australia,Peak Island,Spearfishing,Minor injury,NaN,Lemon shark
97,02 Nov-2023,2023.0,NEW ZEALAND,North Island,Cape Pallister,Free diving,Minor injury. Wetsuit shredded,NaN,White shark
102,21 Oct-2023,2023.0,AUSTRALIA,Western Australia,"Alexander Bay, Esperance",Fishing,Dinghy damaged by shark. No injurty to the 5 ...,NaN,"Bronze whaler, 6'"
...,...,...,...,...,...,...,...,...,...
7014,Before 1906,0.0,AUSTRALIA,New South Wales,,Swimming,FATAL,NaN,Said to involve a grey nurse shark that leapt ...
7015,Before 1903,0.0,AUSTRALIA,Western Australia,Roebuck Bay,Diving,FATAL,NaN,NaN
7016,Before 1903,0.0,AUSTRALIA,Western Australia,NaN,Pearl diving,FATAL,NaN,NaN
7017,1900-1905,0.0,USA,North Carolina,Ocracoke Inlet,Swimming,FATAL,NaN,NaN
7018,1883-1889,0.0,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,FATAL,NaN,NaN

In [137]:
shark_df_2[shark_df_2["year"].isna()]
# Take the yers inside Data and put in column year

,date,year,country,state,location,activity,injury,age,species
875,Reported 08-Jan-2017,NaN,AUSTRALIA,Queensland,NaN,Spearfishing,"No attack, shark made a threat display",35,Bull shark
6789,Reported 19-Aug-1836,NaN,ENGLAND,Cumberland,Whitehaven,Swimming,FATAL,NaN,NaN

In [138]:
shark_df_2[shark_df_2["activity"].isna()]
# We can replace missing values as No Informed

,date,year,country,state,location,activity,injury,age,species
120,21 Aug-2023,2023.0,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,Body found with shark bites. Possible drowning...,20/30,NaN
181,18-Feb-2023,2023.0,ARGENTINA,Patagonia,Chubut Province,NaN,Death by misadventure,32,NaN
225,19-Jul-2022,2022.0,USA,Florida,"Cape Canaveral, Brevard County",NaN,minor injuries,NaN,Shark involvement not confirmed
228,16-Jul-2022,2022.0,USA,Florida,"Daytona Beach Shores, Volusia County",NaN,Minor lacerations to left calf,40,"""A small shark"""
229,13-Jul-2022,2022.0,USA,New York,"Seaview Beach, Suffolk County",NaN,Left wrist and buttocks bitten,49,NaN
...,...,...,...,...,...,...,...,...,...
6987,1940-1946,0.0,PACIFIC OCEAN,NaN,NaN,NaN,FATAL,NaN,NaN
6995,Before 1927,0.0,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,NaN,NaN,NaN
7000,1920 -1923,0.0,AUSTRALIA,Queensland,Great Barrier Reef,NaN,FATAL,NaN,NaN
7010,Circa 1862,0.0,USA,Hawaii,Puna,NaN,Ankle bitten,NaN,NaN
7018,1883-1889,0.0,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,FATAL,NaN,NaN

In [139]:
# NA values for location
shark_df_2[shark_df_2["location"].isna()].head()

,date,year,country,state,location,activity,injury,age,species
76,04-Feb-2024,2024.0,TRINIDAD,NaN,NaN,Spearfishing,Shoulder bitten,NaN,Blacktip reef shark
114,Reported 06-Sep-2023,2023.0,Coral Sea,NaN,NaN,On a round-the-world expedition,Catamaran severely damaged by sharks. No injur...,NaN,Cookiecutter sharks
177,02-Mar-2023,2023.0,SEYCHELLES,Praslin Island,NaN,Snorkeling,Left foot bitten,6,Lemon shark
189,Jan-2023,2023.0,Maldives,Vaavu Atoll,NaN,Snorkeling at Shark Feeding site,Minor injury to shoulder and back,30,Nurse shark
195,07-Dec-2022,2022.0,USA,Texas,NaN,Surfing,Foot bitten,NaN,Blacktip

In [140]:
shark_df_2[shark_df_2["state"].isna()].head(5)
# We can try to use an IF using the location to complete the State

,date,year,country,state,location,activity,injury,age,species
18,2025-02-10 00:00:00,2025.0,Bahamas,NaN,Bimini Bay,Swimming,Left foot injured,24,bull shark
19,2025-02-10 00:00:00,2025.0,Bahamas,NaN,Bimini Bay,Swimming,Severed archilles tendon artery severed nerves...,20,bull shark
76,04-Feb-2024,2024.0,TRINIDAD,NaN,NaN,Spearfishing,Shoulder bitten,NaN,Blacktip reef shark
114,Reported 06-Sep-2023,2023.0,Coral Sea,NaN,NaN,On a round-the-world expedition,Catamaran severely damaged by sharks. No injur...,NaN,Cookiecutter sharks
201,28-Oct-2022,2022.0,BAHAMAS,NaN,Cat Island,Diving,Torso bitten,NaN,NaN

In [141]:
# Show that is none values NA in country, state and location 
shark_df_2.isna().any()

date        False
year         True
country      True
state        True
location     True
activity     True
injury       True
age          True
species      True
dtype: bool

In [142]:
shark_df_2[shark_df_2["location"].isna()].head(5)
# We can pput something as Not reported, do not miss all information as tha majority of the info have the rest of the info

,date,year,country,state,location,activity,injury,age,species
76,04-Feb-2024,2024.0,TRINIDAD,NaN,NaN,Spearfishing,Shoulder bitten,NaN,Blacktip reef shark
114,Reported 06-Sep-2023,2023.0,Coral Sea,NaN,NaN,On a round-the-world expedition,Catamaran severely damaged by sharks. No injur...,NaN,Cookiecutter sharks
177,02-Mar-2023,2023.0,SEYCHELLES,Praslin Island,NaN,Snorkeling,Left foot bitten,6,Lemon shark
189,Jan-2023,2023.0,Maldives,Vaavu Atoll,NaN,Snorkeling at Shark Feeding site,Minor injury to shoulder and back,30,Nurse shark
195,07-Dec-2022,2022.0,USA,Texas,NaN,Surfing,Foot bitten,NaN,Blacktip

In [143]:
shark_df_2[shark_df_2["state"]=="New South Wales"]["location"].nunique()

369

In [144]:
# function to drop the NA values in country, now we have 6970 rows
shark_df_2 = shark_df_2.dropna(subset=['country'])

In [145]:
shark_df_2.shape

(6970, 9)

In [146]:
# to put all countries in lowercaps
shark_df_2["country"] = shark_df_2["country"].apply(lambda x: x.lower())

In [147]:
shark_df_2.shape

(6970, 9)

In [148]:
shark_df_2["country"].nunique()

219

In [149]:
shark_df_2[shark_df_2["country"] == "australia"]

,date,year,country,state,location,activity,injury,age,species
4,2025-05-15 00:00:00,2025.0,australia,South Australia,Port Noarlunga,Swimming,Injury to thigh,66,Not stated
10,2025-03-26 00:00:00,2025.0,australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Bumping to the body,30+,1.5m Tiger shark
11,2025-03-10 00:00:00,2025.0,australia,WA,Duke of Orleans Bay,Surfing,Missing body not recovered,37,Great White Shark
12,2025-03-07 00:00:00,2025.0,australia,NSW,Gunyah beach Bundeena Port Hacking,Swimming,Serious lacerations above right knee.,56,Bull shark
13,2025-02-27 00:00:00,2025.0,australia,Victoria,Nuns Beach near Portland,Swimming,minor lacerations to left calf,40+,Not stated
...,...,...,...,...,...,...,...,...,...
7012,Before 1906,0.0,australia,NaN,NaN,Fishing,FATAL,NaN,Blue pointer
7013,Before 1906,0.0,australia,NaN,NaN,Fishing,FATAL,NaN,Blue pointers
7014,Before 1906,0.0,australia,New South Wales,,Swimming,FATAL,NaN,Said to involve a grey nurse shark that leapt ...
7015,Before 1903,0.0,australia,Western Australia,Roebuck Bay,Diving,FATAL,NaN,NaN
7016,Before 1903,0.0,australia,Western Australia,NaN,Pearl diving,FATAL,NaN,NaN

In [150]:
shark_df_2["country"].value_counts().head()

country
usa             2561
australia       1502
south africa     598
new zealand      146
bahamas          139
Name: count, dtype: int64

In [151]:
# filter country as australia
shark_df_2[shark_df_2["country"] == "australia"]["state"].unique()

array(['South Australia', 'WA', 'NSW', 'Victoria', 'Western Australia',
       'Queensland', 'New  South Wales', 'New South Wales',
       'Westerm Australia', 'New South ales', 'Western  Australia', nan,
       'Tasmania', 'Northern Territory ', 'New South Wales ',
       'Torres Strait', 'Northern Territory',
       'Territory of Cocos (Keeling) Islands', 'Victoria ',
       'Torres Strait ', 'Queensland ', 'Norfolk Island'], dtype=object)

In [152]:
shark_df_2[(shark_df_2["country"] == "australia") & (shark_df_2["state"].isna())].head()
# Inside the filter, country, already with cleaning data, using "australia". Is applied the function for NA in state. Are only 15.

,date,year,country,state,location,activity,injury,age,species
257,Reported 27-Apr-2022,2022.0,australia,NaN,NaN,Paddleboarding,"No injury, knocked off board by shark chasing ...",32,NaN
2260,Reported 15-Jul-2005,2005.0,australia,NaN,NaN,NaN,"A hoax - No shark was involved and Wells' ""dau...",NaN,No shark involvement
4230,09-May-1967,1967.0,australia,NaN,Aquarium,Feeding a shark,Recorded as PROVOKED INCIDENT,22,Grey nurse shark
4282,20-May-1966,1966.0,australia,NaN,7 miles offshore on east coast of Australia,Shipwreck,"FATAL, other human remains bitten by sharks, 1...",38,Believed white shark and other smaller species...
5094,Feb-1953,1953.0,australia,NaN,NaN,Spearfishing,Foot bitten,NaN,Wobbegong shark

In [153]:
# Reshaping the names of the states:
shark_df_2["state"] = shark_df_2["state"].replace({"WA": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Westerm Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Westerm  Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Western  Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"NSW": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New  South Wales": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New South ales": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New South Wales ": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"Queensland ": "Queensland"})
shark_df_2["state"] = shark_df_2["state"].replace({"Victoria ": "Victoria"})
shark_df_2["state"] = shark_df_2["state"].replace({"Victoria ": "Victoria"})
shark_df_2["state"] = shark_df_2["state"].replace({"Northern Territory ": "Northern Territory"})
shark_df_2["state"] = shark_df_2["state"].replace({"Torres Strait ": "Torres Strait"})

In [154]:
# Attributing the value Non indicate for the NA in location 
shark_df_2['location'] = shark_df_2['location'].fillna("Non Indicate")

In [155]:
shark_df_2 = shark_df_2[(shark_df_2["country"] == "australia") & (shark_df_2["state"] == 'New South Wales')]
# Apllying the filter in state for only in New SoutH Wales. We have 528 incidentes.

In [156]:
shark_df_2['species'].isna().sum()

207

In [157]:
shark_df_2['species'] = shark_df_2['species'].fillna("Non Indicated")

In [158]:
shark_df_2['species'].isna().sum()

0

In [159]:
# FINAL VERSION 

shark_df_2

,date,year,country,state,location,activity,injury,age,species
12,2025-03-07 00:00:00,2025.0,australia,New South Wales,Gunyah beach Bundeena Port Hacking,Swimming,Serious lacerations above right knee.,56,Bull shark
16,2025-02-22 00:00:00,2025.0,australia,New South Wales,Off Port Stephens near Newcastle,Fishing was pulled of boat by shark,Body not recovered,58,Mako shark
47,2024-07-23 00:00:00,2024.0,australia,New South Wales,"North Shore Beach, Port Macquarie",Surfing,Serious injury to leg,23,3m White Shark
77,29 Jan-2024,2024.0,australia,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Right leg bitten,29,Bull shark
84,25 Dec-2023,2023.0,australia,New South Wales,Old Bar,Surfing,Injury to right thigh,16,Non Indicated
...,...,...,...,...,...,...,...,...,...
6845,1791,1791.0,australia,New South Wales,Port Jackson,NaN,"FATAL, ""bitten in two""",NaN,Non Indicated
6846,10-May-1788,1788.0,australia,New South Wales,Sydney Harbor,Fishing,"No injury to occupants, shark bit oar and rudder",NaN,Non Indicated
6890,Ca. 5 A.D.,5.0,australia,New South Wales,Bondi,NaN,Aboriginal rock carving depicts man being atta...,NaN,Non Indicated
6995,Before 1927,0.0,australia,New South Wales,"Spectacle Island, Port Jackson",NaN,NaN,NaN,Non Indicated
7014,Before 1906,0.0,australia,New South Wales,,Swimming,FATAL,NaN,Said to involve a grey nurse shark that leapt ...

In [160]:
clean_columns_df = shark_df_2

In [161]:
df_clean = clean_columns_df.dropna()
df_clean.to_csv("datos_limpios.csv", index=False)

In [162]:
shark_df_2.shape

(528, 9)

In [165]:
datos_df = pd.read_csv('C:/Users/User/Desktop/IronHack/Week_2/Day2/datos_limpios.csv')
datos_df.shape

(6214, 8)

In [168]:
datos_df.reset_index(drop=False)

,index,Date,Year,Country,State,Location,Activity,Injury,Age
0,0,2025-06-17 00:00:00,2025.0,USA,South Carolina,Hilton Head Island,Swimming,laceration to lower right leg,12
1,1,2025-06-11 00:00:00,2025.0,USA,Florida,Boca Grande,Snorkeling,right hand almost torn off,9
2,2,2025-05-29 00:00:00,2025.0,USA,North Carolina,Sunset Beach,Swimming,gash to lower left leg,26
3,3,2025-05-26 00:00:00,2025.0,Vanuatu,South Santo,Espiitu Santo Island,Swimming,multiple injuries to body one hand and leg bit...,14
4,4,2025-05-15 00:00:00,2025.0,Australia,South Australia,Port Noarlunga,Swimming,injury to thigh,66
...,...,...,...,...,...,...,...,...,...
6209,6209,Circa 1862,0.0,USA,Hawaii,Puna,Not Registered,ankle bitten,28
6210,6210,Before 1906,0.0,AUSTRALIA,New South Wales,,Swimming,fatal,28
6211,6211,Before 1903,0.0,AUSTRALIA,Western Australia,Roebuck Bay,Diving,fatal,28
6212,6212,1900-1905,0.0,USA,North Carolina,Ocracoke Inlet,Swimming,fatal,28
6213,6213,1845-1853,0.0,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,"fatal. ""shark bit him in half, carrying away t...",15

In [171]:
datos_df.head(5)

,Date,Year,Country,State,Location,Activity,Injury,Age
0,2025-06-17 00:00:00,2025.0,USA,South Carolina,Hilton Head Island,Swimming,laceration to lower right leg,12
1,2025-06-11 00:00:00,2025.0,USA,Florida,Boca Grande,Snorkeling,right hand almost torn off,9
2,2025-05-29 00:00:00,2025.0,USA,North Carolina,Sunset Beach,Swimming,gash to lower left leg,26
3,2025-05-26 00:00:00,2025.0,Vanuatu,South Santo,Espiitu Santo Island,Swimming,multiple injuries to body one hand and leg bit...,14
4,2025-05-15 00:00:00,2025.0,Australia,South Australia,Port Noarlunga,Swimming,injury to thigh,66

In [175]:
datos_df = datos_df.rename(columns={ col: col.replace(" ","").lower() for col in datos_df.columns })

In [177]:
df_merged_2 = pd.merge(shark_df_2,datos_df, on=["date"], how="inner")

In [180]:
df_merged_2

,date,year_x,country_x,state_x,location_x,activity_x,injury_x,age_x,species,year_y,country_y,state_y,location_y,activity_y,injury_y,age_y
0,29 Jan-2024,2024.0,australia,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Right leg bitten,29,Bull shark,2024.0,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,right leg bitten,29
1,25 Dec-2023,2023.0,australia,New South Wales,Old Bar,Surfing,Injury to right thigh,16,Non Indicated,2023.0,AUSTRALIA,New South Wales,Old Bar,Surfing,injury to right thigh,16
2,25 Aug 2023,2023.0,australia,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Severe injuries to lower limbs,44,"White shark, 3.8-4.2m",2023.0,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,severe injuries to lower limbs,44
3,11 Dec-2022,2022.0,australia,New South Wales,Killick Creek near Crescent Head,Swimming,Lower leg.h bitten,15,Non Indicated,2022.0,AUSTRALIA,New South ales,Killick Creek near Crescent Head,Swimming,lower leg.h bitten,15
4,31-Aug-2022,2022.0,australia,New South Wales,Avoca,Surfing,Puncture wounds to right hand & forearm,14,Bronze whaler,2022.0,AUSTRALIA,New South Wales,Avoca,Surfing,puncture wounds to right hand & forearm,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,1791,1791.0,australia,New South Wales,Port Jackson,NaN,"FATAL, ""bitten in two""",NaN,Non Indicated,1791.0,AUSTRALIA,New South Wales,Port Jackson,Not Registered,"fatal, ""bitten in two""",28
604,10-May-1788,1788.0,australia,New South Wales,Sydney Harbor,Fishing,"No injury to occupants, shark bit oar and rudder",NaN,Non Indicated,1788.0,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,"no injury to occupants, shark bit oar and rudder",28
605,Ca. 5 A.D.,5.0,australia,New South Wales,Bondi,NaN,Aboriginal rock carving depicts man being atta...,NaN,Non Indicated,5.0,AUSTRALIA,New South Wales,Bondi,Not Registered,aboriginal rock carving depicts man being atta...,28
606,Before 1927,0.0,australia,New South Wales,"Spectacle Island, Port Jackson",NaN,NaN,NaN,Non Indicated,0.0,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",Not Registered,secondary injury,28
607,Before 1906,0.0,australia,New South Wales,,Swimming,FATAL,NaN,Said to involve a grey nurse shark that leapt ...,0.0,AUSTRALIA,New South Wales,,Swimming,fatal,28

In [181]:
df_merged_2.isna().sum()

date            0
year_x          0
country_x       0
state_x         0
location_x      0
activity_x     46
injury_x        6
age_x         234
species         0
year_y          0
country_y       0
state_y         0
location_y      0
activity_y      0
injury_y        0
age_y           0
dtype: int64

In [197]:

df_merged_2.drop(columns=["location_y"], inplace=True)

In [201]:
df_merged_2.head(50)

,date,year_x,country_x,state_x,location_x,species,activity_y,injury_y,age_y
0,29 Jan-2024,2024.0,australia,New South Wales,"Elizabeth Bay, Sydney Harbor",Bull shark,Swimming,right leg bitten,29
1,25 Dec-2023,2023.0,australia,New South Wales,Old Bar,Non Indicated,Surfing,injury to right thigh,16
2,25 Aug 2023,2023.0,australia,New South Wales,"Lighthouse Beach, Port Macquarie","White shark, 3.8-4.2m",Surfing,severe injuries to lower limbs,44
3,11 Dec-2022,2022.0,australia,New South Wales,Killick Creek near Crescent Head,Non Indicated,Swimming,lower leg.h bitten,15
4,31-Aug-2022,2022.0,australia,New South Wales,Avoca,Bronze whaler,Surfing,puncture wounds to right hand & forearm,14
5,17-Aug-2022,2022.0,australia,New South Wales,Coffs Harbour,"White shark, 3 m",Kayaking,"no injury, kayak bitten in half",28
6,15-Mar-2022,2022.0,australia,New South Wales,Crowdy Baay,Bull shark,Surfing,"no injury, shark leapt on surfboard",28
7,15-Mar-2022,2022.0,australia,New South Wales,Crowdy Baay,Bull shark,Surfing,lacerations and punctures to leg and foot,32
8,15-Mar-2022,2022.0,australia,New South Wales,Crowdy Baay,Bull shark,Swimming,secondary injury,28
9,15-Mar-2022,2022.0,australia,New South Wales,Crowdy Baay,Non Indicated,Surfing,"no injury, shark leapt on surfboard",28
10,15-Mar-2022,2022.0,australia,New South Wales,Crowdy Baay,Non Indicated,Surfing,lacerations and punctures to leg and foot,32
11,15-Mar-2022,2022.0,australia,New South Wales,Crowdy Baay,Non Indicated,Swimming,secondary injury,28
12,08-Mar-2022,2022.0,australia,New South Wales,Maroubra,Non Indicated,Surfing,"no injury, board bitten",28
13,16-Feb-2022,2022.0,australia,New South Wales,"Buchan Point, Sydney",Non Indicated,Swimming,fatal,36
14,24-Jan-2022,2022.0,australia,New South Wales,Warriewood,Wobbegong shark,Swimming,foot bitten,28
15,04-Jan-2022,2022.0,australia,New South Wales,"Hyams Beach, Jervis Bay",Non Indicated,Not Registered,minor lacerations to lower thigh,42
16,05-Sep-2021,2021.0,australia,New South Wales,Emerald Beach,White xhark,Surfing,fatal,31
17,05-Jul-2021,2021.0,australia,New South Wales,Crescent Head,"White shark, 3m",Surfing,left forearm broken & lacerated,25
18,18-May-2021,2021.0,australia,New South Wales,Turncurry Beach,"White shark, 4.5 m",Surfing,fatal,59
19,23-Jan-2021,2021.0,australia,New South Wales,Lake Macquarie,,Swimming,severe lacerations to left arm,58
20,02-Nov-2020,2020.0,australia,New South Wales,"Town Beach, Port Macquarie",Non Indicated,Surfing,"minor injury to left foot, leg and finger",13
21,16-Sep-2020,2020.0,australia,New South Wales,Cabarita Beach,White shark,Foil-boarding,"no injury, board bitten",28
22,16-Sep-2020,2020.0,australia,New South Wales,Cabarita Beach,White shark,Swimming,minor cuts and punctures to left foot,48
23,30-Aug-2020,2020.0,australia,New South Wales,Forster,White shark,Fishing / Filming sharks feeding on whale carcass,"shark bit boat, no injury to occupant",28
24,30-Aug-2020,2020.0,australia,New South Wales,Forster,White shark,Surfing,injury to right foot and ankle,12
25,14-Aug-2020,2020.0,australia,New South Wales,"Shelly Beach, Port Macquarie","White shark, 2-to 3m",Surfing,lacerations to right calf and posterior thigh,35
26,11-Jul-2020,2020.0,australia,New South Wales,Wilsons Headland,"White shark, 2.5 m",Surfing,fatal,15
27,07-Jun-2020,2020.0,australia,New South Wales,Salt Beach near Kingscliff,"White shark, 3.5 m",Surfing,fatal,60
28,21-Apr-2020,2020.0,australia,New South Wales,Killick Creek near Crescent Head,Non Indicated,Swimming,lacerations to foot,28
29,06-Apr-2020,2020.0,australia,New South Wales,Wamberal Beach,6' shark,Swimming,fatal,23
30,06-Apr-2020,2020.0,australia,New South Wales,Wamberal Beach,6' shark,Surfing,right hand bitten,38
31,17-Jan-2020,2020.0,australia,New South Wales,Windang Beach,"""A small shark""",Surfing,laceration ot left ankle and foot,59
32,20-Dec-2019,2019.0,australia,New South Wales,Shellharbour,White shark,Fishing,provoked incident,28
33,05-Oct-2019,2019.0,australia,New South Wales,Lighthouse Beach,"White shark, 3.5 m",Surfing,"no injury, surfboard severely damaged",29
34,05-Oct-2019,2019.0,australia,New South Wales,Lighthouse Beach,"White shark, 3.5 m",Kayaking,"no injury, shark bit kayak",51
35,05-Jun-2019,2019.0,australia,New South Wales,Lennox Head,Non Indicated,Surfing,injury to wrist,28
36,Reported 27-Apr-2019,2019.0,australia,New South Wales,Tomaree,"Grey nurse shark, 3 m female",Spearfishing,3 puncture marks to left forearm,18
37,17-Feb-2019,2019.0,australia,New South Wales,Belongil Bay,Non Indicated,Surfing,lacerations/puncture marks to thigh,41
38,04-Feb-2019,2019.0,australia,New South Wales,Urunga area,Non Indicated,Surfing,multiple lacerations to leg,28
39,04-Feb-2019,2019.0,australia,New South Wales,Urunga area,Non Indicated,Surfing,"no injury, surfboard bitten",50
40,15-Dec-2018,2018.0,australia,New South Wales,Non Indicate,Wobbegong shark,Spearfishing,injuries to leg and hand,24
41,09-Dec-2018,2018.0,australia,New South Wales,Nambucca,Non Indicated,Spearfishing,no injury,50
42,09-Dec-2018,2018.0,australia,New South Wales,Nambucca,Non Indicated,Surfing,five deep lacerations to lower right leg,36
43,28-Nov-2018,2018.0,australia,New South Wales,South Steyne,Wobbegong shark,Surfing,cut to left foot,28
44,17-Nov-2018,2018.0,australia,New South Wales,"7 Mile Beach, Gerroa",Non Indicated,Surfing,injuries to calf and hand,24
45,07-Nov-2018,2018.0,australia,New South Wales,"Shelly Beach, Ballina",5' shark,Surfing,20 cm injury to left calf,42
46,19-Oct-2018,2018.0,australia,New South Wales,Samurai Beach,Bull shark?,Body Surfing,injury to upper right arm,50
47,19-Oct-2018,2018.0,australia,New South Wales,Samurai Beach,Bull shark?,Surfing,severe lacerations to arm and hand and cut to ...,25
48,08-Jun-2018,2018.0,australia,New South Wales,Arrawarra Headland,2 m shark,Surfing,minor injury to lower leg,28
49,03-Jun-2018,2018.0,australia,New South Wales,"Flat Rock, Ballina",Non Indicated,Kite surfing,"no injury, board bitten",28

In [198]:
df_merged_2.isna().sum()

date          0
year_x        0
country_x     0
state_x       0
location_x    0
species       0
activity_y    0
injury_y      0
age_y         0
dtype: int64

In [200]:
df_merged_2.shape

(608, 9)

In [205]:
df_merged_2['country_x'].unique()

array(['australia'], dtype=object)