In [1]:
import pandas as pd

In [2]:
#"C:\Users\User\Desktop\IronHack\Week_2\Day1/GSAF5.xls")
shark_df = pd.read_excel('GSAF5.xls')
shark_df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-06-17 00:00:00,2025.0,Unprovoked,USA,South Carolina,Hilton Head Island,Swimming,Not stated,F,12,...,Not stated,Kevin McMurray Trackingsharks.com:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-06-11 00:00:00,2025.0,Unprovoked,USA,Florida,Boca Grande,Snorkeling,Leah Lendel,F,9,...,Bull shark,Kevin McMurray Trackingsharks.com: James Kings...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-05-29 00:00:00,2025.0,Unprovoked,USA,North Carolina,Sunset Beach,Swimming,Sean Barton,M,26,...,Not stated,Kevin McMurray Trackingsharks.com: Clay Crewel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-26 00:00:00,2025.0,Unprovoked,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Tumas,M,14,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-05-15 00:00:00,2025.0,Unprovoked,Australia,South Australia,Port Noarlunga,Swimming,Richard Vinall,M,66,...,Not stated,Simon DeMarchi: Todd Smith: 9 News:ABC News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
shark_df = shark_df.rename(columns={ col: col.replace(" ","").lower() for col in shark_df.columns })

In [ ]:
shark_df.head()

In [ ]:
shark_df_2 = shark_df[[ "date", "year","country", "state", "location", "activity", "injury","age","species"]]
# Species appers as not an index.

In [ ]:
shark_df_2.head()

In [ ]:
shark_df_2.shape

In [ ]:
# Clean & format everything but dates.
# Apply at least five data cleaning techniques, such as handling null values, dropping columns, 
# removing duplicated data, manipulating strings, formatting the data, etc., to prepare the dataset for analysis.

In [ ]:
# To check for null values
shark_df_2.isna().any()

In [ ]:
shark_df_2.dtypes

In [ ]:
# Count the number of null values in each column
shark_df_2.isna().sum()

In [ ]:
shark_df_2[shark_df_2["country"].isna()].head()
# This missiang values we can drop (delete)

In [ ]:
shark_df_2[shark_df_2["injury"].isna()].head()
# This we can attribute NaN as a generic injury. If have an attack probably have an injury.

In [ ]:
shark_df_2[shark_df_2["age"].isna()]
# We can try to use mean to replace the values

In [ ]:
shark_df_2[shark_df_2["year"].isna()]
# Take the yers inside Data and put in column year

In [ ]:
shark_df_2[shark_df_2["activity"].isna()]
# We can replace missing values as No Informed

In [ ]:
# NA values for location
shark_df_2[shark_df_2["location"].isna()].head()

In [ ]:
shark_df_2[shark_df_2["state"].isna()].head(5)
# We can try to use an IF using the location to complete the State

In [ ]:
# Show that is none values NA in country, state and location 
shark_df_2.isna().any()

In [ ]:
shark_df_2[shark_df_2["location"].isna()].head(5)
# We can pput something as Not reported, do not miss all information as tha majority of the info have the rest of the info

In [ ]:
shark_df_2[shark_df_2["state"]=="New South Wales"]["location"].nunique()

In [ ]:
# function to drop the NA values in country, now we have 6970 rows
shark_df_2 = shark_df_2.dropna(subset=['country'])

In [ ]:
shark_df_2.shape

In [ ]:
# to put all countries in lowercaps
shark_df_2["country"] = shark_df_2["country"].apply(lambda x: x.lower())

In [ ]:
shark_df_2.shape

In [ ]:
shark_df_2["country"].nunique()

In [ ]:
shark_df_2[shark_df_2["country"] == "australia"]

In [ ]:
shark_df_2["country"].value_counts().head()

In [ ]:
# filter country as australia
shark_df_2[shark_df_2["country"] == "australia"]["state"].unique()

In [ ]:
shark_df_2[(shark_df_2["country"] == "australia") & (shark_df_2["state"].isna())].head()
# Inside the filter, country, already with cleaning data, using "australia". Is applied the function for NA in state. Are only 15.

In [ ]:
# Reshaping the names of the states:
shark_df_2["state"] = shark_df_2["state"].replace({"WA": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Westerm Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Westerm  Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Western  Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"NSW": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New  South Wales": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New South ales": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New South Wales ": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"Queensland ": "Queensland"})
shark_df_2["state"] = shark_df_2["state"].replace({"Victoria ": "Victoria"})
shark_df_2["state"] = shark_df_2["state"].replace({"Victoria ": "Victoria"})
shark_df_2["state"] = shark_df_2["state"].replace({"Northern Territory ": "Northern Territory"})
shark_df_2["state"] = shark_df_2["state"].replace({"Torres Strait ": "Torres Strait"})

In [ ]:
# Attributing the value Non indicate for the NA in location 
shark_df_2['location'] = shark_df_2['location'].fillna("Non Indicate")

In [ ]:
shark_df_2 = shark_df_2[(shark_df_2["country"] == "australia") & (shark_df_2["state"] == 'New South Wales')]
# Apllying the filter in state for only in New SoutH Wales. We have 528 incidentes.

In [ ]:
shark_df_2['species'].isna().sum()

In [ ]:
shark_df_2['species'] = shark_df_2['species'].fillna("Non Indicated")

In [ ]:
shark_df_2['species'].isna().sum()

In [ ]:
# FINAL VERSION 

shark_df_2

In [ ]:
shark_df_2["location"].value_counts().head(30)

In [ ]:
shark_df_2["state"].value_counts().head(30)

In [ ]:
#Delmar: finding the different species of sharks that attacked.
shark_df_2["species"].unique()