In [55]:
import pandas as pd

In [56]:
#"C:\Users\User\Desktop\IronHack\Week_2\Day1/GSAF5.xls")
shark_df = pd.read_excel('C:/Users/User/Desktop/IronHack/Week_2/Day1/GSAF5.xls')
shark_df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-06-17 00:00:00,2025.0,Unprovoked,USA,South Carolina,Hilton Head Island,Swimming,Not stated,F,12,...,Not stated,Kevin McMurray Trackingsharks.com:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-06-11 00:00:00,2025.0,Unprovoked,USA,Florida,Boca Grande,Snorkeling,Leah Lendel,F,9,...,Bull shark,Kevin McMurray Trackingsharks.com: James Kings...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-05-29 00:00:00,2025.0,Unprovoked,USA,North Carolina,Sunset Beach,Swimming,Sean Barton,M,26,...,Not stated,Kevin McMurray Trackingsharks.com: Clay Crewel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-26 00:00:00,2025.0,Unprovoked,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Tumas,M,14,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-05-15 00:00:00,2025.0,Unprovoked,Australia,South Australia,Port Noarlunga,Swimming,Richard Vinall,M,66,...,Not stated,Simon DeMarchi: Todd Smith: 9 News:ABC News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
shark_df = shark_df.rename(columns={ col: col.replace(" ","").lower() for col in shark_df.columns })

In [58]:
shark_df.head()

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,hrefformula,href,casenumber,casenumber.1,originalorder,unnamed:21,unnamed:22
0,2025-06-17 00:00:00,2025.0,Unprovoked,USA,South Carolina,Hilton Head Island,Swimming,Not stated,F,12,...,Not stated,Kevin McMurray Trackingsharks.com:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-06-11 00:00:00,2025.0,Unprovoked,USA,Florida,Boca Grande,Snorkeling,Leah Lendel,F,9,...,Bull shark,Kevin McMurray Trackingsharks.com: James Kings...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-05-29 00:00:00,2025.0,Unprovoked,USA,North Carolina,Sunset Beach,Swimming,Sean Barton,M,26,...,Not stated,Kevin McMurray Trackingsharks.com: Clay Crewel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-26 00:00:00,2025.0,Unprovoked,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Tumas,M,14,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-05-15 00:00:00,2025.0,Unprovoked,Australia,South Australia,Port Noarlunga,Swimming,Richard Vinall,M,66,...,Not stated,Simon DeMarchi: Todd Smith: 9 News:ABC News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
shark_df_2 = shark_df[[ "date", "year","country", "state", "location", "activity", "injury","age","species"]]
# Species appers as not an index.

In [60]:
shark_df_2.head()

,date,year,country,state,location,activity,injury,age,species
0,2025-06-17 00:00:00,2025.0,USA,South Carolina,Hilton Head Island,Swimming,Laceration to lower right leg,12,Not stated
1,2025-06-11 00:00:00,2025.0,USA,Florida,Boca Grande,Snorkeling,Right hand almost torn off,9,Bull shark
2,2025-05-29 00:00:00,2025.0,USA,North Carolina,Sunset Beach,Swimming,Gash to lower left leg,26,Not stated
3,2025-05-26 00:00:00,2025.0,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Multiple injuries to body one hand and leg bit...,14,Not stated
4,2025-05-15 00:00:00,2025.0,Australia,South Australia,Port Noarlunga,Swimming,Injury to thigh,66,Not stated

In [61]:
shark_df_2.shape

(7020, 9)

In [62]:
# Clean & format everything but dates.
# Apply at least five data cleaning techniques, such as handling null values, dropping columns, 
# removing duplicated data, manipulating strings, formatting the data, etc., to prepare the dataset for analysis.

In [63]:
# To check for null values
shark_df_2.isna().any()

date        False
year         True
country      True
state        True
location     True
activity     True
injury       True
age          True
species      True
dtype: bool

In [64]:
shark_df_2.dtypes

date         object
year        float64
country      object
state        object
location     object
activity     object
injury       object
age          object
species      object
dtype: object

In [65]:
# Count the number of null values in each column
shark_df_2.isna().sum()

date           0
year           2
country       50
state        485
location     566
activity     585
injury        35
age         2994
species     3131
dtype: int64

In [66]:
shark_df_2[shark_df_2["country"].isna()].head()
# This missiang values we can drop (delete)

,date,year,country,state,location,activity,injury,age,species
746,Reported 13-Nov-2017,2017.0,NaN,NaN,NaN,Surfing,Puncture wounds to feet,24,NaN
1215,Aug-2014,2014.0,NaN,NaN,NaN,Sea disaster,Shark involvement prior to death not confirmed,NaN,Shark involvement not confirmed
3651,Ca. 1983,1983.0,NaN,English Channel,NaN,Swimming,Left leg bitten,NaN,NaN
4081,Nov-1970,1970.0,NaN,NaN,NaN,NaN,Extensive injuries,NaN,NaN
4090,02-Aug-1970,1970.0,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,"Sharks scavenged on bodies, but no record of t...",NaN,Shark involvement prior to death was not confi...

In [67]:
shark_df_2[shark_df_2["injury"].isna()].head()
# This we can attribute NaN as a generic injury. If have an attack probably have an injury.

,date,year,country,state,location,activity,injury,age,species
174,16-Mar-2023,2023.0,AUSTRALIA,Western Australia,Cheynes Beach,Surf-sking,NaN,NaN,5m to 6m shark
247,21-Jun-2022,2022.0,USA,South Carolina,"Myrtle Beach, Horry County",NaN,NaN,teen,NaN
268,15-Mar-2022,2022.0,AUSTRALIA,New South Wales,Crowdy Baay,Swimming,NaN,NaN,NaN
371,26-Mar-2021,2021.0,FRENCH POLYNESIA,Marquesas,Ua Pou,Swimming,NaN,10,NaN
460,20-Jun-2020,2020.0,BAHAMAS,Exumas,"Pig Beach, Pig Island",NaN,NaN,NaN,NaN

In [68]:
shark_df_2[shark_df_2["age"].isna()]
# We can try to use mean to replace the values

,date,year,country,state,location,activity,injury,age,species
72,04 Mar 2024,2024.0,USA,Hawaii,"Old Man's, Waikiki",Surfing,"No injury, shark bit surfboard",NaN,Tiger shark 8'
76,04-Feb-2024,2024.0,TRINIDAD,NaN,NaN,Spearfishing,Shoulder bitten,NaN,Blacktip reef shark
96,03 Nov-2023,2023.0,AUSTRALIA,Westerm Australia,Peak Island,Spearfishing,Minor injury,NaN,Lemon shark
97,02 Nov-2023,2023.0,NEW ZEALAND,North Island,Cape Pallister,Free diving,Minor injury. Wetsuit shredded,NaN,White shark
102,21 Oct-2023,2023.0,AUSTRALIA,Western Australia,"Alexander Bay, Esperance",Fishing,Dinghy damaged by shark. No injurty to the 5 ...,NaN,"Bronze whaler, 6'"
...,...,...,...,...,...,...,...,...,...
7014,Before 1906,0.0,AUSTRALIA,New South Wales,,Swimming,FATAL,NaN,Said to involve a grey nurse shark that leapt ...
7015,Before 1903,0.0,AUSTRALIA,Western Australia,Roebuck Bay,Diving,FATAL,NaN,NaN
7016,Before 1903,0.0,AUSTRALIA,Western Australia,NaN,Pearl diving,FATAL,NaN,NaN
7017,1900-1905,0.0,USA,North Carolina,Ocracoke Inlet,Swimming,FATAL,NaN,NaN
7018,1883-1889,0.0,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,FATAL,NaN,NaN

In [69]:
shark_df_2[shark_df_2["year"].isna()]
# Take the yers inside Data and put in column year

,date,year,country,state,location,activity,injury,age,species
875,Reported 08-Jan-2017,NaN,AUSTRALIA,Queensland,NaN,Spearfishing,"No attack, shark made a threat display",35,Bull shark
6789,Reported 19-Aug-1836,NaN,ENGLAND,Cumberland,Whitehaven,Swimming,FATAL,NaN,NaN

In [70]:
shark_df_2[shark_df_2["activity"].isna()]
# We can replace missing values as No Informed

,date,year,country,state,location,activity,injury,age,species
120,21 Aug-2023,2023.0,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,Body found with shark bites. Possible drowning...,20/30,NaN
181,18-Feb-2023,2023.0,ARGENTINA,Patagonia,Chubut Province,NaN,Death by misadventure,32,NaN
225,19-Jul-2022,2022.0,USA,Florida,"Cape Canaveral, Brevard County",NaN,minor injuries,NaN,Shark involvement not confirmed
228,16-Jul-2022,2022.0,USA,Florida,"Daytona Beach Shores, Volusia County",NaN,Minor lacerations to left calf,40,"""A small shark"""
229,13-Jul-2022,2022.0,USA,New York,"Seaview Beach, Suffolk County",NaN,Left wrist and buttocks bitten,49,NaN
...,...,...,...,...,...,...,...,...,...
6987,1940-1946,0.0,PACIFIC OCEAN,NaN,NaN,NaN,FATAL,NaN,NaN
6995,Before 1927,0.0,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,NaN,NaN,NaN
7000,1920 -1923,0.0,AUSTRALIA,Queensland,Great Barrier Reef,NaN,FATAL,NaN,NaN
7010,Circa 1862,0.0,USA,Hawaii,Puna,NaN,Ankle bitten,NaN,NaN
7018,1883-1889,0.0,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,FATAL,NaN,NaN

In [71]:
# NA values for location
shark_df_2[shark_df_2["location"].isna()].head()

,date,year,country,state,location,activity,injury,age,species
76,04-Feb-2024,2024.0,TRINIDAD,NaN,NaN,Spearfishing,Shoulder bitten,NaN,Blacktip reef shark
114,Reported 06-Sep-2023,2023.0,Coral Sea,NaN,NaN,On a round-the-world expedition,Catamaran severely damaged by sharks. No injur...,NaN,Cookiecutter sharks
177,02-Mar-2023,2023.0,SEYCHELLES,Praslin Island,NaN,Snorkeling,Left foot bitten,6,Lemon shark
189,Jan-2023,2023.0,Maldives,Vaavu Atoll,NaN,Snorkeling at Shark Feeding site,Minor injury to shoulder and back,30,Nurse shark
195,07-Dec-2022,2022.0,USA,Texas,NaN,Surfing,Foot bitten,NaN,Blacktip

In [72]:
shark_df_2[shark_df_2["state"].isna()].head(5)
# We can try to use an IF using the location to complete the State

,date,year,country,state,location,activity,injury,age,species
18,2025-02-10 00:00:00,2025.0,Bahamas,NaN,Bimini Bay,Swimming,Left foot injured,24,bull shark
19,2025-02-10 00:00:00,2025.0,Bahamas,NaN,Bimini Bay,Swimming,Severed archilles tendon artery severed nerves...,20,bull shark
76,04-Feb-2024,2024.0,TRINIDAD,NaN,NaN,Spearfishing,Shoulder bitten,NaN,Blacktip reef shark
114,Reported 06-Sep-2023,2023.0,Coral Sea,NaN,NaN,On a round-the-world expedition,Catamaran severely damaged by sharks. No injur...,NaN,Cookiecutter sharks
201,28-Oct-2022,2022.0,BAHAMAS,NaN,Cat Island,Diving,Torso bitten,NaN,NaN

In [73]:
# Show that is none values NA in country, state and location 
shark_df_2.isna().any()

date        False
year         True
country      True
state        True
location     True
activity     True
injury       True
age          True
species      True
dtype: bool

In [75]:
shark_df_2[shark_df_2["location"].isna()].head(5)
# We can pput something as Not reported, do not miss all information as tha majority of the info have the rest of the info

,date,year,country,state,location,activity,injury,age,species
76,04-Feb-2024,2024.0,TRINIDAD,NaN,NaN,Spearfishing,Shoulder bitten,NaN,Blacktip reef shark
114,Reported 06-Sep-2023,2023.0,Coral Sea,NaN,NaN,On a round-the-world expedition,Catamaran severely damaged by sharks. No injur...,NaN,Cookiecutter sharks
177,02-Mar-2023,2023.0,SEYCHELLES,Praslin Island,NaN,Snorkeling,Left foot bitten,6,Lemon shark
189,Jan-2023,2023.0,Maldives,Vaavu Atoll,NaN,Snorkeling at Shark Feeding site,Minor injury to shoulder and back,30,Nurse shark
195,07-Dec-2022,2022.0,USA,Texas,NaN,Surfing,Foot bitten,NaN,Blacktip

In [77]:
shark_df_2[shark_df_2["state"]=="New South Wales"]["location"].nunique()

369

In [78]:
# function to drop the NA values in country, now we have 6970 rows
shark_df_2 = shark_df_2.dropna(subset=['country'])

In [79]:
shark_df_2.shape

(6970, 9)

In [80]:
# to put all countries in lowercaps
shark_df_2["country"] = shark_df_2["country"].apply(lambda x: x.lower())

In [81]:
shark_df_2.shape

(6970, 9)

In [82]:
shark_df_2["country"].nunique()

219

In [84]:
shark_df_2[shark_df_2["country"] == "australia"]

,date,year,country,state,location,activity,injury,age,species
4,2025-05-15 00:00:00,2025.0,australia,South Australia,Port Noarlunga,Swimming,Injury to thigh,66,Not stated
10,2025-03-26 00:00:00,2025.0,australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Bumping to the body,30+,1.5m Tiger shark
11,2025-03-10 00:00:00,2025.0,australia,WA,Duke of Orleans Bay,Surfing,Missing body not recovered,37,Great White Shark
12,2025-03-07 00:00:00,2025.0,australia,NSW,Gunyah beach Bundeena Port Hacking,Swimming,Serious lacerations above right knee.,56,Bull shark
13,2025-02-27 00:00:00,2025.0,australia,Victoria,Nuns Beach near Portland,Swimming,minor lacerations to left calf,40+,Not stated
...,...,...,...,...,...,...,...,...,...
7012,Before 1906,0.0,australia,NaN,NaN,Fishing,FATAL,NaN,Blue pointer
7013,Before 1906,0.0,australia,NaN,NaN,Fishing,FATAL,NaN,Blue pointers
7014,Before 1906,0.0,australia,New South Wales,,Swimming,FATAL,NaN,Said to involve a grey nurse shark that leapt ...
7015,Before 1903,0.0,australia,Western Australia,Roebuck Bay,Diving,FATAL,NaN,NaN
7016,Before 1903,0.0,australia,Western Australia,NaN,Pearl diving,FATAL,NaN,NaN

In [113]:
shark_df_2["country"].value_counts().head()

country
australia    528
Name: count, dtype: int64

In [83]:
# filter country as australia
shark_df_2[shark_df_2["country"] == "australia"]["state"].unique()

array(['South Australia', 'WA', 'NSW', 'Victoria', 'Western Australia',
       'Queensland', 'New  South Wales', 'New South Wales',
       'Westerm Australia', 'New South ales', 'Western  Australia', nan,
       'Tasmania', 'Northern Territory ', 'New South Wales ',
       'Torres Strait', 'Northern Territory',
       'Territory of Cocos (Keeling) Islands', 'Victoria ',
       'Torres Strait ', 'Queensland ', 'Norfolk Island'], dtype=object)

In [86]:
shark_df_2[(shark_df_2["country"] == "australia") & (shark_df_2["state"].isna())].head()
# Inside the filter, country, already with cleaning data, using "australia". Is applied the function for NA in state. Are only 15.

,date,year,country,state,location,activity,injury,age,species
257,Reported 27-Apr-2022,2022.0,australia,NaN,NaN,Paddleboarding,"No injury, knocked off board by shark chasing ...",32,NaN
2260,Reported 15-Jul-2005,2005.0,australia,NaN,NaN,NaN,"A hoax - No shark was involved and Wells' ""dau...",NaN,No shark involvement
4230,09-May-1967,1967.0,australia,NaN,Aquarium,Feeding a shark,Recorded as PROVOKED INCIDENT,22,Grey nurse shark
4282,20-May-1966,1966.0,australia,NaN,7 miles offshore on east coast of Australia,Shipwreck,"FATAL, other human remains bitten by sharks, 1...",38,Believed white shark and other smaller species...
5094,Feb-1953,1953.0,australia,NaN,NaN,Spearfishing,Foot bitten,NaN,Wobbegong shark

In [88]:
# Reshaping the names of the states:
shark_df_2["state"] = shark_df_2["state"].replace({"WA": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Westerm Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Westerm  Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"Western  Australia": "Western Australia"})
shark_df_2["state"] = shark_df_2["state"].replace({"NSW": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New  South Wales": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New South ales": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"New South Wales ": "New South Wales"})
shark_df_2["state"] = shark_df_2["state"].replace({"Queensland ": "Queensland"})
shark_df_2["state"] = shark_df_2["state"].replace({"Victoria ": "Victoria"})
shark_df_2["state"] = shark_df_2["state"].replace({"Victoria ": "Victoria"})
shark_df_2["state"] = shark_df_2["state"].replace({"Northern Territory ": "Northern Territory"})
shark_df_2["state"] = shark_df_2["state"].replace({"Torres Strait ": "Torres Strait"})

In [91]:
# Attributing the value Non indicate for the NA in location 
shark_df_2['location'] = shark_df_2['location'].fillna("Non Indicate")

In [89]:
shark_df_2 = shark_df_2[(shark_df_2["country"] == "australia") & (shark_df_2["state"] == 'New South Wales')]
# Apllying the filter in state for only in New SoutH Wales. We have 528 incidentes.

In [105]:
shark_df_2['species'].isna().sum()

207

In [107]:
shark_df_2['species'] = shark_df_2['species'].fillna("Non Indicated")

In [108]:
shark_df_2['species'].isna().sum()

0

In [109]:
# FINAL VERSION 

shark_df_2

,date,year,country,state,location,activity,injury,age,species
12,2025-03-07 00:00:00,2025.0,australia,New South Wales,Gunyah beach Bundeena Port Hacking,Swimming,Serious lacerations above right knee.,56,Bull shark
16,2025-02-22 00:00:00,2025.0,australia,New South Wales,Off Port Stephens near Newcastle,Fishing was pulled of boat by shark,Body not recovered,58,Mako shark
47,2024-07-23 00:00:00,2024.0,australia,New South Wales,"North Shore Beach, Port Macquarie",Surfing,Serious injury to leg,23,3m White Shark
77,29 Jan-2024,2024.0,australia,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Right leg bitten,29,Bull shark
84,25 Dec-2023,2023.0,australia,New South Wales,Old Bar,Surfing,Injury to right thigh,16,Non Indicated
...,...,...,...,...,...,...,...,...,...
6845,1791,1791.0,australia,New South Wales,Port Jackson,NaN,"FATAL, ""bitten in two""",NaN,Non Indicated
6846,10-May-1788,1788.0,australia,New South Wales,Sydney Harbor,Fishing,"No injury to occupants, shark bit oar and rudder",NaN,Non Indicated
6890,Ca. 5 A.D.,5.0,australia,New South Wales,Bondi,NaN,Aboriginal rock carving depicts man being atta...,NaN,Non Indicated
6995,Before 1927,0.0,australia,New South Wales,"Spectacle Island, Port Jackson",NaN,NaN,NaN,Non Indicated
7014,Before 1906,0.0,australia,New South Wales,,Swimming,FATAL,NaN,Said to involve a grey nurse shark that leapt ...

In [110]:
shark_df_2["location"].value_counts().head(30)

location
Sydney Harbor                10
Sydney                       10
Non Indicate                  8
Coogee                        6
Wollongong                    6
Bondi                         6
Lennox Head                   5
Newcastle                     5
Lake Macquarie                5
Parramatta River              4
Evans Head                    4
Stockton Beach, Newcastle     4
Avoca Beach                   4
Marineland, Sydney            4
Byron Bay                     4
Maroubra                      4
Cronulla                      4
Crescent Head                 3
Tallow Beach, Byron Bay       3
Newcastle                     3
Hawkesbury River              3
Maroubra Beach                3
Brunswick Heads               3
Botany Bay, Sydney            3
Lighthouse Beach              3
North Bondi                   3
Jervis Bay                    3
Newcastle Beach               3
Sharpes Beach, Ballina        3
Shelly Beach                  2
Name: count, dtype: int64

In [111]:
shark_df_2["state"].value_counts().head(30)

state
New South Wales    528
Name: count, dtype: int64